@font-face {
  font-family: myFirstFont;
  src: url('https://www.bedbathandbeyond.com/static/assets/fonts/Montserrat-Medium.woff2');
}

@font-face {
  font-family: myFirstFont2;
  src: url('https://www.bedbathandbeyond.com/static/assets/fonts/TiemposHeadline-Semibold.woff2');
}

.menu-text {
  font-weight: bold;
  font-size: 2rem;
}
